div #weeks {
	margin-bottom: 1%;
}

input.data {
    background: transparent;
    cursor: default;
    border: none;
    outline: none;
    width: 100%;
  }

nav#week .pagination{
	display: inline;
	padding-bottom: 0;
}

ul.week li {
	margin-left: 5px;
	border-bottom: 1px solid #D2D7D3;
	width: 85%;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}