.workoutWeek, .workoutName, .workoutReps, .workoutType {
	background: transparent;
	cursor: default;
	border: none;
	outline: none;
}

.workoutWeek {
	width: 100%;
}

.workoutName, .workoutReps {
	width: 48%;
	margin-right: 5px;
}

.workoutType {
	width: 100%;
}

ul.pager {
	margin-top: 50px;
}

h3.monthLabel {
	display: inline;
	text-align: center;
}

h3.panel-title {
	margin-left: -3px;
}

.trashWorkout {
	padding: 2px;
	margin-top: 0px;
}

textarea  {
	resize: none;
	height: 100%;
}

.foot {
  	height: 150px;
}