.workoutWeek, .workoutName, .workoutReps {
	background: transparent;
	cursor: default;
	border: none;
	outline: none;
}

.workoutWeek {
	width: 100%;
}

.workoutName, .workoutReps {
	width: 48%;
	margin-right: 5px;
}


.addWorkout {
	margin-bottom: 5px;
}

h3 {
	margin-left: -3px;
}

.trashWorkout {
	padding: 2px;
}


textarea  {
	resize: none;
	height: 100%;
}

.foot {
  	height: 150px;
}